*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --p-white:#ffffff;
    --s-white:#eaeef7;
    --t-white:#f2f3f6;
    --p-black:#000000b1;
    --s-black:#46474b;
}