.__navbar
{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 2rem;
}
.__navbar a
{
    text-decoration: none;
    color:var(--p-black);
    font-weight:555;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    padding: 10px 5px;
    border-radius: 1rem;
}
.__navbar a:hover
{
    background: var(--p-white);
    transition: ease-in-out 0.5s;
}
.__navbar button
{
    outline: 0;
    border: 0;
    padding: 20px;
    border-radius: 4rem;
    background: var(--violet);
    color: #fff;
    width:60px;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 4rem 0 0 3rem;
    cursor: pointer;
}